<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        form {
            display: flex;
            flex-direction: column;
        }

        .subject {
            flex: 1;
            display: flex !important
        }

        .subject input {
            flex: 1 !important;
        }
    </style>
</head>

<body>
    <form action="">
        <div class="name-email">
            <input type="text" placeholder="Your name">
            <input type="email" placeholder="Your email">
        </div>
        <div class="email">
            <input type="email" placeholder="Your email">
        </div>
        <div class="subject">
            <input type="text" placeholder="Subject">
        </div>
        <div class="comment">
            <textarea placeholder="Comment"></textarea>
        </div>
        <button>Send Mesaage</button>
</body>

</html>