@keyframes colorize {
  100% {
    filter: brightness(105%);
  }
}

.best-of-gallery {
  background: $main-color;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  padding: 10em;
}

.best-of-gallery div img {
  @include img-size(100%);
  transition: box-shadow .3s;
  border-radius:10px;
  border: 1px solid #ccc;
}

.best-of-gallery div img:hover {
  box-shadow: 0 0 11px rgba(2, 209, 167, 4); 
} 

.best-of-featured-recipes {
  background: rgb(248, 249, 251);
  @include flexrowcol(row);
  justify-content: center;
  padding: 10em;
}

.best-of-featured-recipes .left ul,
.best-of-featured-recipes .right ul {
  list-style: none;
  @include flexrowcol(column);
  justify-content: center;
}

.best-of-featured-recipes .left ul li,
.best-of-featured-recipes .right ul li {
  @include flexrowcol(row);
}

.best-of-featured-recipes .left ul li img,
.best-of-featured-recipes .right ul li img {
  @include img-size(100%);
  filter: brightness(50%);
}

.best-of-featured-recipes .left ul li img:hover,
.best-of-featured-recipes .right ul li img:hover {
  animation: colorize 1s forwards;
}

.best-of-featured-recipes .left ul li img {
  margin-right: 1em;
  margin-bottom: 1em;
}

.best-of-featured-recipes .right ul li img {
  margin-right: 1em;
  margin-bottom: 2em;
}

.best-of-featured-recipes .left ul li .info-pic {
  h2 {
    font-size: 1.6em;
  }
  p {
    width: 30em;
  }
}

.best-of-featured-recipes .right ul li .info-pic {
  h3 {
    font-size: 1em;
  }
}

.type {
  background: rgb(252, 2, 84);
  width: fit-content;
  padding: 0.3em;
  border-radius: 0.5em;
}

@include bp(mobile) {
  @include responsive-best-of;
}

@include bp(tablet) {
  @include responsive-best-of;
}

@include bp(phone) {
  .best-of-gallery {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .best-of-gallery div {
    margin-bottom: 1em;
  }

  .best-of-featured-recipes {
    flex-direction: column;
  }

  .best-of-featured-recipes {
    flex-direction: column;
  }

  .best-of-featured-recipes .left ul li .info-pic {
    h2,
    p {
      width: 150%;
      height: auto;
    }
  }
}
