.best-of-gallery {
  background: rgb(114, 114, 114);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  padding: 10em;
}

.best-of-gallery div img {
  max-width: 100%;
  height: auto;
}

.best-of-featured-recipes {
  background: rgb(248, 249, 251);
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 10em;
}

.best-of-featured-recipes .left ul,
.best-of-featured-recipes .right ul {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.best-of-featured-recipes .left ul li,
.best-of-featured-recipes .right ul li {
  display: flex;
  flex-direction: row;
}

.best-of-featured-recipes .left ul li img,
.best-of-featured-recipes .right ul li img {
  max-width: 100%;
  height: auto;
}

.best-of-featured-recipes .left ul li img {
  margin-right: 1em;
  margin-bottom: 1em;
}

.best-of-featured-recipes .right ul li img {
  margin-right: 1em;
  margin-bottom: 2em;
}

.best-of-featured-recipes .left ul li .info-pic {
  h2 {
    font-size: 1.6em;
  }
  p {
    width: 30em;
  }
}

.best-of-featured-recipes .right ul li .info-pic {
  h3 {
    font-size: 1em;
  }
}

.type {
  background: rgb(252, 2, 84);
  width: fit-content;
  padding: 0.3em;
  border-radius: 0.5em;
}

@include bp(tablet) {
  .best-of-gallery {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .best-of-gallery div {
    margin: 1em;
  }

  .best-of-featured-recipes {
    flex-direction: column;
  }
}

@include bp(phone) {
  .best-of-gallery {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .best-of-gallery div {
    margin-bottom: 1em;
  }

  .best-of-featured-recipes {
    flex-direction: column;
  }

  .best-of-featured-recipes {
    flex-direction: column;
  }

  .best-of-featured-recipes .left ul li .info-pic {
    h2,
    p {
      width: 150%;
      height: auto;
    }
  }
}
