.comment-section {
  background: rgb(114, 114, 114);
  padding: 4em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comment-section form {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}

.comment-section form .name-email,
.comment-section form .subject,
.comment-section .comment {
  flex: 1;
  display: flex !important;
  font-size: 1.5em;
}

.comment-section form .name-email input,
.comment-section form .subject input,
.comment-section form .comment textarea {
  border: none;
  padding: 1em;
  margin-bottom: 1em;
}

.comment-section form .name-email input {
  flex: 1 !important;
}

.comment-section form .name-email input:last-child {
  margin-left: 1em;
}

.comment-section form .subject input {
  flex: 1 !important;
}

.comment-section form .comment textarea {
  flex: 1 !important;
  resize: none;
  padding: 1em 1em 15em 1em;
  font-size: 1em;
}

.comment-section form button {
  border: none;
  background: rgb(252, 2, 84);
  color: white;
  width: 13em;
  padding: 1em;
  align-self: center;
}

iframe {
  width: 100%;
  height: 50vh;
  padding: 0;
  margin: 0;
}

@include bp(tablet) {
  .comment-section form {
    font-size: 2em;
  }
  .comment-section form .name-email {
    flex-direction: column;
  }

  .comment-section form .name-email,
  .comment-section form .subject,
  .comment-section .comment {
    flex: 1;
    display: flex !important;
    font-size: 1.3em;
  }

  .comment-section form .name-email input,
  .comment-section form .subject input,
  .comment-section form .comment textarea {
    margin-bottom: 0.75em;
  }

  .comment-section form .name-email input:last-child {
    margin-left: 0;
  }
}

@include bp(phone) {
  .comment-section form {
    font-size: 2em;
  }
  .comment-section form .name-email {
    flex-direction: column;
  }

  .comment-section form .name-email,
  .comment-section form .subject,
  .comment-section .comment {
    flex: 1;
    display: flex !important;
    font-size: 1em;
  }

  .comment-section form .name-email input,
  .comment-section form .subject input,
  .comment-section form .comment textarea {
    margin-bottom: 0.75em;
  }

  .comment-section form .name-email input:last-child {
    margin-left: 0;
  }
}
