.recipe-content {
  background: $main-color;
}

.recipe-header {
  @include flexrowcol(column);
  justify-content: center;
}

.recipe-short-info {
  position: relative;
  color: pink;
  text-align: center;
  padding-top: 3em;
}

.recipe-name {
  opacity: 0.5;
  text-align: center;
  margin: 0 auto;
  padding: 3em;
  h2 {
    width: 15em;
  }
}

.recipe-header img {
  @include img-size(100%);
  padding: 2em;
}

.recipe-how-to {
  @include flexrowcol(row);
  justify-content: center;
  padding: 10em;
}

.recipe-how-to .left {
  border: 2px solid white;
  margin: 0 5em 0 5em;
  width: fit-content;
  height: fit-content;
}

.recipe-how-to .left .top {
  @include flexrowcol(column);
  background: pink;
  h1 {
    font-size: 2em;
    text-align: center;
    width: 10em;
  }
  ul {
    @include flexrowcol(row);
    list-style: none;
    justify-content: center;
    background: black;
    padding-left: 5em;
    li {
      width: fit-content;
      color: white;
    }
  }
}

.recipe-how-to .left .top img {
  position: relative;
  bottom: 3em;
  border-radius: 100%;
  @include img-size(50%);
  margin: 0 auto;
}

.recipe-how-to .right {
  @include flexrowcol(column);
}

.more-recipes {
  background: rgb(53, 53, 53);
  padding: 4em 10em;
}

.more-recipes ul {
  list-style: none;
  @include flexrowcol(row);
  justify-content: center;
}

.more-recipes ul li {
  padding-right: 2em;
  @include flexrowcol(row);
}

.more-recipes ul li img {
  @include img-size(100%);
  padding-right: 1em;
}

.more-recipes ul li .info-more-recipes {
  @include flexrowcol(column);
  .type {
    background: rgb(252, 2, 84);
    width: fit-content;
    padding: 0.3em;
    border-radius: 0.5em;
  }
  h4 {
    color: white;
  }
}

.buttons {
  list-style: none;
  @include flexrowcol(row);
  justify-content: center;
}

.buttons li {
  margin: 1em;
  padding: 1em;
  background: black;
  color: white;
}

.left h3 {
  padding-left: 1em;
}

.left h3 + h3 {
  padding-top: 1em;
  padding-left: 1em;
  color: gainsboro;
  opacity: 0.6;
}

.salad {
  margin: 2em;
}

.salad li {
  opacity: 0.7;
}

.description {
  p {
    padding-bottom: 1em;
    opacity: 0.6;
  }
}

.instructions {
  h2 {
    padding-top: 1em;
  }
}

.instructions ul {
  @include flexrowcol(column);
  list-style: none;
  justify-content: center;
}

.instructions ul li {
  padding-bottom: 1em;
  opacity: 0.6;
}

.note {
  @include flexrowcol(column);
  span {
    width: fit-content;
    background: rgb(252, 2, 84);
    color: white;
    border-radius: 100%;
    padding: 0.5em;
    margin-bottom: 1em;
  }
  p {
    padding: 1em;
    border-radius: 0.5em;
    transform: scale(0);
  }
}

.note:hover {
  p {
    transition: transform 1s ease-in-out, background 1s ease-in-out;
    opacity: 1;
    background: white;
    transform: scale(1);
  }
}

@include bp(mobile) {
  @include responsive-recipes;
}

@include bp(tablet) {
  @include responsive-recipes;
}

@include bp(phone) {
  .recipe-how-to {
    flex-direction: column;
  }

  .recipe-how-to .left {
    margin: 0;
    padding: 0;
    @include img-size(100%);
  }

  .recipe-how-to .left .top {
    margin: 0 auto;
  }

  .recipe-how-to .left .top img {
    bottom: 4em;
  }

  .recipe-how-to .left .top h1 {
    margin: 0 auto;
  }

  .more-recipes ul {
    flex-direction: column;
  }

  .more-recipes ul li img {
    @include img-size(40%);
    margin-bottom: 1em;
  }

  .more-recipes ul li .info-more-recipes {
    justify-content: space-evenly;
  }
}
