.site-footer {
  display: flex;
  flex-direction: column;
  background: rgb(234, 237, 242);
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin: 5em 5em 0 5em;
}

.wrapper .top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 3em;
}

.wrapper .top .left {
  display: flex;
  flex-direction: column;
}

.wrapper .top .left img {
  max-width: 50%;
}

.wrapper .top .left p {
  width: 40em;
  padding-bottom: 3em;
}

.wrapper .bottom p a {
  color: green;
}

.wrapper .top .right {
  display: flex;
  flex-direction: column;
}

.wrapper .top .right h1 {
  padding-bottom: 0.5em;
}

.wrapper .top .subscribe {
  padding-bottom: 1.5em;
  input {
    border: none;
    width: 20em;
    padding: 1em;
  }
  button {
    border: none;
    background: rgb(252, 2, 84);
    color: white;
    width: 13em;
    padding: 1em;
  }
}

.wrapper .top .right .social-media ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  text-decoration: none;
}

.wrapper .top .social-media ul li {
  margin-right: 1em;
  font-size: 1.3em;
}

.wrapper .top .social-media ul li a {
  color: rgb(168, 169, 171);
}

.wrapper .top .social-media ul li i {
  padding-right: 0.5em;
}

.wrapper .top .social-media ul li:hover {
  i {
    transition: color 0.5s ease-in-out;
    color: blue;
  }
}

@include bp(tablet) {
  .wrapper {
    flex-direction: column;
    font-size: 1em;
  }
  .wrapper .top {
    flex-direction: column;
  }
  .wrapper .top .left img {
    align-self: center;
  }
  .wrapper .left p {
    align-self: center;
  }
  .wrapper .right h1 {
    align-self: center;
  }
  .wrapper .subscribe {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    button {
      margin-top: 1em;
    }
  }
  .wrapper .top .social-media {
    align-self: center;
  }
  .wrapper .top .social-media ul {
    flex-direction: column;
    justify-content: center;
  }
  .wrapper .bottom {
    align-self: center;
  }
}

@include bp(phone) {
  .wrapper {
    flex-direction: column;
    font-size: 1em;
  }
  .wrapper .top {
    flex-direction: column;
  }
  .wrapper .top .left img {
    align-self: center;
  }
  .wrapper .left p {
    align-self: center;
  }
  .wrapper .right h1 {
    align-self: center;
  }
  .wrapper .subscribe {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    button {
      margin-top: 1em;
    }
  }
  .wrapper .top .social-media {
    align-self: center;
  }
  .wrapper .top .social-media ul {
    flex-direction: column;
    justify-content: center;
  }
  .wrapper .bottom p {
    width: 35em;
  }
}
