.header-2 {
  background: $main-color;
  padding: 4em;
}

.header-2 .logo {
  display: flex;
  justify-content: center;
  padding: 4em;
}

.header-2 .home-nav-bar ul {
  @include flexrowcol(row);
  list-style: none;
  justify-content: center;
}

.header-2 .home-nav-bar ul li a {
  color: rgb(251, 251, 251);
  margin-right: 1em;
  padding-bottom: 0.3em;
  text-decoration: none;
  font-size: 2em;
}

.header-2 .home-nav-bar ul li a:hover {
  color: $nav-bar-color-effect;
  transition: color 0.7s;
}

@keyframes loadingheader {
  0% {
    transform: scale(0) rotate(360deg);
  }
  100% {
    transform: scale(1) rotate(0);
  }
}

.header-2 .gallery {
  animation: loadingheader 2s ease-in-out;
}

.header-2 .gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "lf b b rg" "lf b b rg";
  padding: 3em;
}

.header-2 .gallery {
  h1 {
    font-size: 1.6em;
    text-align: center;
    opacity: 0.5;
  }
}

.header-2 .gallery .left {
  grid-area: lf;
}

.header-2 .gallery .right {
  grid-area: rg;
}

.header-2 .gallery .left,
.header-2 .gallery .right {
  @include flexrowcol(column);
  justify-content: space-between;
}

.header-2 .gallery .middle {
  grid-area: b;
  margin: 0 2em 0 2em;
}

.header-2 .gallery .left .el,
.header-2 .gallery .right .el {
  @include flexrowcol(column);
  justify-content: center;
  align-items: center;
  padding: 1em;
}

.header-2 .gallery .left .el img,
.header-2 .gallery .right .el img {
  @include img-size(100%);
}

.header-2 .gallery .right .el img:hover,
.header-2 .gallery .left .el img:hover,
.header-2 .gallery .middle .el-mid img:hover {
  animation: colorize 2s forwards;
}

.header-2 .gallery .middle .el-mid:hover {
  animation: colorize 2s forwards;
}

.header-2 .gallery .middle .el-mid img {
  @include img-size(100%);
}

.header-2 .middle h1 {
  width: 100%;
  background: white;
  opacity: 1;
  font-size: 2em;
  position: relative;
  bottom: 1em;
  padding: 0.7em;
}

.header-1 {
  background: $main-color;
  @include flexrowcol(column);
  justify-content: space-between;
}

.header-1 .top-header {
  @include flexrowcol(row);
  justify-content: space-between;
  align-items: center;
  padding: 2em;
}

.header-1 .top-header .nav-bar ul {
  list-style: none;
  @include flexrowcol(row);
}

.header-1 .top-header .nav-bar ul li {
  color: rgb(251, 251, 251);
  margin-right: 1em;
  padding-bottom: 0.3em;
  text-decoration: none;
  font-size: 1.5em;
}

.header-1 .top-header .nav-bar ul li a:hover {
  color: $nav-bar-color-effect;
  transition: color 0.7s;
}

.header-1 .bottom-header {
  display: flex;
  justify-content: center;
  background-image: url(../images/search-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 20em;
}

.header-1 .bottom-header form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-1 .bottom-header form {
  input {
    border: none;
    width: 20em;
    padding: 1em;
    margin-right: 1em;
  }
  button {
    border: none;
    background: rgb(252, 2, 84);
    color: white;
    width: 13em;
    padding: 1em;
  }
}

@include bp(tablet) {
  .header-2 .gallery {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: ". b b ." ". b b ." ". lf rg .";
  }
  .header-2 .gallery .middle {
    padding: 0;
  }
  .header-2 .middle h1 {
    margin: 0;
    font-size: 1.3em;
  }
  .header-2 .middle {
    order: -1;
  }
}

@include bp(phone) {
  .header-2 .gallery {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "b" "lf" "rg";
  }
  .header-2 .gallery .middle {
    padding: 0;
  }
  .header-2 .middle h1 {
    margin: 0;
    font-size: 1em;
  }
  .header-2 .middle {
    order: -1;
  }
  .header-1 .top-header {
    flex-direction: column;
  }

  .header-1 .bottom-header form {
    flex-direction: column;
  }
  .header-1 .bottom-header form {
    input {
      margin-bottom: 1em;
    }
  }
}
