<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{page.title}}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/fontawesome/css/all.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/site.css">
</head>
<body>
    <header class="site-header">
        {%include header.html location="_include"%}
    </header>
    <main class="site-content">
        {{content}}
    </main>
    <footer class = "site-footer">
        {%include footer.html location="_include"%}
    </footer>
</body>
</html>